.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 40px;
}

.header h2 {
  font-size: 24px;
  color: rgba(15, 50, 86, 50%);
  font-weight: 400;
}

.header p {
  font-size: 24px;
}